body {
    font-family: sans-serif;
    font-size: 300%;
    background-color: #c0a572;
    margin: 0;
  }
button {
  cursor: pointer;
  padding: 0.25pc;
  margin: 0.25pc;
}

/* CSS */
.button-4 {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button-4:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-4:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.button-4:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-4:focus {
  outline: 1px transparent;
}

.button-4:before {
  display: none;
}

.button-4:-webkit-details-marker {
  display: none;
}

/* CSS */
.button-14 {
  background-image: linear-gradient(#f7f8fa ,#e7e9ec);
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-style: solid;
  border-width: 2px;
  border-radius: 20px;
  box-shadow: rgba(255,255,255,.6) 0 1px 0 inset;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",Arial,sans-serif;
  font-size: 14px;
  height: 29px;
  font-size: 13px;
  outline: 0;
  overflow: hidden;
  padding: 0 11px;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-14:active {
  border-bottom-color: #a2a6ac;
}

.button-14:active:hover {
  border-bottom-color: #a2a6ac;
}

.button-14:hover {
  border-color: #a2a6ac #979aa1 #82858a;
}

.button-14:focus {
  border-color: #e77600;
  box-shadow: rgba(228, 121, 17, .5) 0 0 3px 2px;
  outline: 0;
}

button.round-btn {
  display:none;
}
  #input-info {
    display: none;
  }
  #fixed-header {
    position: sticky;
    top: 0;
  }
  #banner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    background-color: black;
    padding: 2px;
  }
  #banner-title {
    font-family: Lora, sans-serif;
    padding: 2px;
  }
  li {
    padding-top: 5px;
  }
  #drop_zone {
    border: 2px dashed;
    margin: 1pc;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 5pc;
    text-align: center;
    font-style: italic;
    font-weight: bold;
  }
  .round-header {
    display: flex;
    align-items: center;
  }
  #table-container {
    text-align: center;
    margin: 1pc;
  }
  #tabulate {   /* tabulate button */
    margin: 1pc;
    display: none;
  }
  .table-node {
    border-collapse: collapse;
    margin: 0 auto;
  }
  .tr-node.house-row {
    display: none;
  }
  .td-node {
    border: 1px solid;
  }
  .th-node {
    padding: 0 .5pc 0; /* top | left and right | bottom */
  }
  .p-node {
    font-style: italic;
    margin: .25pc;
    font-size: 80%;
  }
  .h3-node {
    text-align: left;
  }